<h3>Definition: </h3>
<h1>Update <%= @definition.text %></h1>

<form action="/words/<%= @word.id %/definitions" method="post">

  <label for="name">Add definition</label>
  <input id="text" name="text" type="text">

  <button type="submit" class="btn btn-primary">Add definition</button>
</form>
<form action="/words/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="Delete">
  <button type="submit" class="btn btn-primary">Delete this word</button>
</form>
<hr>