<h3>Definition: </h3>
<h1>Update <%= @definition.text %></h1>

<form action="/definitions/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Change word</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-primary">Update</button>
</form>
<form action="/words/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="Delete">
  <button type="submit" class="btn btn-primary">Delete this word</button>
</form>
<hr>