<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="name">Word name</label>
    <input id="wordname" name="wordname" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Add your word!</button>
</form>
<br>
<br>
<hr>
<em><a href ="/words">See All Words</a></em>