<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="name">Word name</label>
    <input id="wordname" name="wordname" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add your word!</button>
</form>