<em><h2><%= @word.name %> </h2></em>

<% if @definitions.any? %>
<b>Defined as - <%= @definition.text %></b>
<% else %>
  <p>There are currently no definitions to display.</p>
<% end %>
<a href="/words/<%= @word.id %>/edit">Add or update the definition</a>
<a href="/words"> Back to your dictionary.</a>